body {
    background-image: url("../images/crazyfire.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
   }
   p {
    margin: 250px;
    font-family: 'Megrim', cursive; 
    font-size: 30px;
    color: rgb(255, 228, 74);
    text-shadow: -1px -1px 0 rgb(255, 230, 0), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
h1 {
font-family: 'Megrim', cursive;
 font-size: 60px;
 color: rgb(255, 228, 74);
}

a:link {
color: rgb(255, 228, 74);
 background-color: transparent;
 text-decoration: none;
}

a:hover {
color: rgb(255, 228, 74);
 background-color: transparent;
 text-decoration: underline;
}

a:visited {
color: rgb(255, 228, 74);
 background-color: transparent;
 text-decoration: none;
}