body {
    background-image: url("../images/calmClouds.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
   }
   p {
       margin: 250px;
       font-family: 'Inspiration', cursive; 
       font-size: 40px;
   }
h1 {
    font-family: 'Inspiration', cursive;
    font-size: 70px;
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}