h1 {
    border: rgb(0, 0, 0) 3px solid;
    background-color: rgb(255, 196, 0);
    font-family: 'Megrim', cursive;
} 
body {
    background-image: url("../images/hellbackground.jpg");
    background-repeat: no-repeat; 
    background-size: 100%;
   }

   p {
    font-family: 'Megrim', cursive; 
    font-size: x-large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

a:link {
    color: rgb(255, 24, 24);
    background-color: transparent;
    text-decoration: underline;
}