body {
    background-image: url("../images/websitebackground.jpg");
    background-repeat: no-repeat; 
    background-size: 100%;
    cursor: url("../images/skeletonMouse.png"),auto; 
   }
div{
    text-align:center
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100vh;
    font-family: 'Neucha', cursive;
    font-size: x-large; 

    
  }

  a:link {
    text-decoration: none;
  }

  a {

    color: black

  }

  .angelWings {
    width: 400px;
    height: 400px; 
  }

  .devilWings {
    width: 400px;
    height: 400px; 
  }

  .cloudText {
    width: 300px;
    height: 100px; 
  }

  .fireText {
    width: 300px;
    height: 100px; 
  }

  .otherEye{
    width: 300px;
    height: 100px; 
  }

#footer {
    position:fixed;
    padding: 5px 10px 10px 10px;
    bottom:0%;
    left: 0;
    width: 100%;;
    height: 15px; 
    background:rgb(0, 0, 0);
    font-family: 'Dokdo', cursive;
    font-size: large;
    color: azure;
 }

 h1 {
    border: rgb(0, 0, 0) 3px solid;
    background-color: bisque;
    font-family: 'Neucha', cursive;
  } 

  h2 {
    border: rgb(0, 0, 0) 3px solid;
    background-color: bisque;
    font-family: 'Neucha', cursive;
  }

  h3{
    font-family: 'Neucha', cursive;
  }

